/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.css
 *= require bootstrap.min
 *= require bootstrap-theme.css
 *= require bootstrap-theme.min


 */
.intro-header {
    height: 100%; /* Full PAge */

    padding-top: 50%; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    /*padding-bottom: 50px;*/
    color: #f8f8f8;
    background: url(14174919031526.jpg) no-repeat;
    /*background-size: cover;*/
    text-align: center;
}